<% content_for(:title, t('.title')) %>
<div class="col-md-8 col-md-offset-4 mx-auto">
	<div class="box">
		<span class="input-group-addon addon-twitter">
      <div class="row">
        <div class="col">
          <p><i class="fas fa-desktop"></i><%= t ".title" %></p>
        </div>
        <div class="col"></div>
        <div class="col text-right mr-3">
			    <%= link_to t('defaults.edit'), edit_profile_path, class: 'btn btn-outline-secondary p-1' %>          
        </div>
      </div>
		</span>

    <div class="divider-form"></div>
    <div class="row">
      <div class="col">
        <p><i class="fas fa-pen"></i><%= t(User.human_attribute_name(:name)) %></p>
      </div>
      <div class="col"></div>
      <div class="col text-right mr-4">
        <p><%= current_user.name %></p>
      </div>
    </div>

    <div class="divider-form"></div>
      <div class="row">
        <div class="col">
          <p><i class="fas fa-stopwatch"></i><%= (t ".total_pomo") %></p>        
        </div>
        <div class="col"></div>
        <div class="col text-right mr-4">
          <p><%= @worktime_count %>回</p></div>
      </div>

    <div class="divider-form"></div>
    <div class="row">
      <div class="col">
        <%= link_to "https://twitter.com/share?url=https://pomosto.herokuapp.com/&text=今日はポモドーロを#{@pomo_time}回やったよ！", class: 'shareList__link icon-twitter', data: { show_count: false }, title: 'Twitter', target: '_blank' do %>      
        <p><i class="fab fa-twitter"></i><%= (t ".day_pomo") %></p>
      </div>
      <div class="col"></div>
      <div class="col text-right mr-4">
        <p><%= @pomo_time %>回</p>
        <% end %>
      </div>
    </div>

    <div class="divider-form"></div>
    <div class="row">
      <div class="col">
        <p><i class="fas fa-calendar-week"></i><%= (t ".week_pomo") %></p>
      </div>
    </div>
    <% if @work_time.present? %>
      <%= column_chart @work_time.group_by_day(:created_at, last: 7, format: "%m/%d").count,  height: "200px", max: 12, colors: ["#00cc00", "#009900", "#006600"], suffix: "回" %>
    <% else %>
      <p><%= (t ".no_pomo") %></P>
    <% end %>
	</div>
</div>
