<div class="timer">
  <div class="button-group mode-buttons mt-3" id="js-mode-buttons">
    <button data-mode="pomodoro" class="btn btn-block btn-outline-light" id="js-pomodoro">
      <%= (t "defaults.pomodoro") %>
    </button>
    <button data-mode="shortBreak" class="btn btn-block btn-outline-light" id="js-short-break">
      <%= (t "tops.index.shortbreak") %>
    </button>
    <button data-mode="longBreak" class="btn btn-block btn-outline-light" id="js-long-break">
      <%= (t "tops.index.longbreak") %>
    </button>
  </div>
  <div class="clock text-white" id="js-clock">
    <div class="timearea">
      <span id="js-minutes">25</span>
      <span class="separator">:</span>
      <span id="js-seconds">00</span>
    </div>
  </div>
  <p class="text-center">
    <span><%= (t "tops.index.pomodoro_number") %>:</span>
    <span id="pomo_number">0</span>
    <span><%= (t "tops.index.times") %></span>
  </p>
  
  <button class="btn btn-lg btn-block btn-outline-light" data-action="start" id="js-btn">
    <%= (t "defaults.start") %>
  </button>
  <button class="btn btn-lg btn-block btn-success" data-toggle="modal" data-target="#videoModal" id="btn1">
    <%= (t "tops.index.strech") %>
  </button>
</div>

