<div class="container">
  <div class="row">
    <%= form_with model: @user, local: true do |f| %>
      <div class="form-group">
        <%= f.label :name, User.human_attribute_name(:name) %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email, User.human_attribute_name(:email) %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
        <%= f.label :password, User.human_attribute_name(:password) %>
        <%= f.password_field :password, class: "form-control" %>
      <div class="form-group">
        <%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation) %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= f.submit (t "defaults.register"), class: "btn btn-mdb-color" %>
    <% end %>
    <div class="text-center">
      <%= link_to (t ".to_login_page"), login_path %>
    </div>
  </div>
</div>

