<% content_for(:title, t('.title')) %>
<div class="cardeditPage">
  <div class="container">
    <%= form_with model: @card, url: { action: :update }, class: "cardeditForm", local: true do |f| %>
      <div class="cardeditForm_title">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control", placeholder: (t "defaults.title") %>
      </div>
      <div class="cardeditForm_memo">
        <%= f.label :memo %>
        <%= f.text_area :memo, class: "form-control", placeholder: (t "defaults.show") %>
      </div>
      <div class="cardeditForm_memo">
        <label><%= (t "cards.show.list") %></label>
        <%= select :card, :list_id, @lists.map{ |l| [l.title, l.id] }, {}, { class: 'form-control' } %>
      </div>
      <div class="text-center">
        <%= f.submit (t ".update"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>